@model IEnumerable<ExpenseTracker.Models.Expense>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<div id="anti-forgery-token" style="display:none">
    @Html.AntiForgeryToken()
</div>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@{
    var simpleData = Model.Select(e => new
    {
        e.Description,
        e.Amount,
        e.Date,
        UserId = e.User.Id,
        CategoryName = e.Category.Name,
        e.Id
    });

    var jsonData = Newtonsoft.Json.JsonConvert.SerializeObject(simpleData);


    string[] monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun","Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
}

<script>
    window.data = @Html.Raw(jsonData);
    window.deleteExpenseUrl = '@Url.Action("Delete", "Expenses")';  
    window.createExpenseUrl = '@Url.Action("Create", "Expenses")';  
</script>

<script>
    window.categoriesList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.CategoriesForJS));
</script>

<!-- OVERVIEW CONTAINER: holds both rows -->
<div class="overview-container">

    <!-- ROW 1 -->
    <div class="overview-row">
        <!-- Left column: current month chart -->
        <div class="column-left panel-left">
            <h2 id="LeftPieMonthTitle" class="panel-title">This Month</h2>
            <div class="panel-body">
                <canvas id="currentMonthChart"></canvas>
            </div>
        </div>

        <!-- Right column: Edit current month -->
        <div id="rightPane" class="column-right panel-right scroll-pane">
            <div class="month-edit-container">
                <h3 id="ExpenseTableTitle">Editing expenses for @monthNames[DateTime.Now.Month - 1]</h3>                 
            </div>  
        </div>
    </div>

    <!-- ROW 2 -->
    <div class="overview-row">
        <!-- Left column: average chart -->
        <div class="column-left panel-left">
            <h2 class="panel-title">Average / Trends</h2>
            <div class="panel-body">
                <canvas id="avgChart"></canvas>
            </div>
        </div>

        <!-- Right column: monthly charts -->
        <div id="monthsContainer" class="column-right panel-right months-grid">
            <!-- Monthly charts will be injected here by ExpenseOverview.js -->
        </div>
    </div>

</div>

<script src="~/js/ExpenseOverview.js"></script>
<link rel="stylesheet" href="~/css/expense-overview.css" asp-append-version="true" />
