@model IEnumerable<ExpenseTracker.Models.Expense>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@{
    var simpleData = Model.Select(e => new
    {
        e.Description,
        e.Amount,
        e.Date,
        UserId = e.User.Id,
        CategoryName = e.Category.Name,
        e.Id
    });

    var jsonData = Newtonsoft.Json.JsonConvert.SerializeObject(simpleData);
}

<script>
    window.data = @Html.Raw(jsonData);
</script>

<!-- Two-column layout -->
<div class="two-column-container">

    <!-- Left column: current month chart -->
    <div class="column-left">
        <canvas id="currentMonthChart"></canvas>
    </div>

    <!-- Right column: Edit current month -->
    <div id="rightPane" class="column-right scroll-pane">
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>@Html.DisplayNameFor(model => model.Amount)</th>
                    <th>@Html.DisplayNameFor(model => model.Date)</th>
                    <th>@Html.DisplayNameFor(model => model.Category)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(e => e.Date.Month == DateTime.Now.Month && e.Date.Year == DateTime.Now.Year))
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                        <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="sticky-footer">
            <a asp-action="Create" class="btn btn-link">Create New</a>
        </div>
    </div>
</div>

<!-- Two-column layout -->
<div class="two-column-container padding-top-large">

    <!-- Left column: average chart -->
    <div class="column-left">
        <canvas id="avgChart"></canvas>
    </div>

    <!-- Right column: monthly charts -->
    <div id="monthsContainer" class="months-grid">
        <!-- Monthly charts will be injected here -->
    </div>
</div>

<script src="~/js/ExpenseOverview.js"></script>
<link rel="stylesheet" href="~/css/expense-overview.css" asp-append-version="true" />
